@using QuanLiCuaHang.ENTITIES;
@using QuanLiCuaHang.BUSSINESS_SERVICE;
@{
    Layout = null;
    List<MATHANG> listMatHang = XL_MATHANG.DocMatHang();
    String maMatHang = Request["maMatHang"];
    String maHD = Request["maHD"];
    HOADON HDNhapHang = XL_HD_NHAPHANG.TimKiemHDNhapHang_MaHD(maHD);

    List<CHITIET_HD> listChiTietHoaDon = HDNhapHang.listChitietHoaDon;
    if (Session["listMatHangUpdate"] != null)
    {
        listChiTietHoaDon = (List<CHITIET_HD>)Session["listMatHangUpdate"];
    }
    CHITIET_HD matHang = XL_CHITIET_HD.TimHoaDon(maMatHang, listChiTietHoaDon);
    CHITIET_HD chiTietDonHang;

    if (IsPost)
    {
        String maMatHangUpdate = Request["maMH"];
        chiTietDonHang.matHang = XL_MATHANG.TimKiemMatHang_MaMH(maMatHangUpdate);
        chiTietDonHang.soLuong = int.Parse(Request["soLuong"]);

        listChiTietHoaDon = XL_CHITIET_HD.UpdateMatHang(chiTietDonHang, listChiTietHoaDon, maMatHang);
        Session["listMatHangUpdate"] = listChiTietHoaDon;
        Response.Redirect("~/UI/HOADON_NHAPHANG/MH_SUA_HD_NHAPHANG.cshtml?maHoaDon=" + maHD);
    }

}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Danh Sach Mat Hang</title>
    <style>
        table {
            font-family: arial, sans-serif;
            border-collapse: collapse;
            width: 80%;
        }

        td, th {
            border: 1px solid #dddddd;
            text-align: left;
            padding: 8px;
        }

        tr:nth-child(even) {
            background-color: #dddddd;
        }
    </style>
</head>
<body>
    <div>
        <form action="~/UI/CHITIET_HD_NHAPHANG/MH_SUA_CHITIET_HD_NHAPHANG.cshtml?maMatHang=@maMatHang&maHD=@maHD" method="post">
            <select name="maMH">
                <option value="@maMatHang" selected>@maMatHang - @matHang.matHang.TenHang</option>
                @for (int i = 0; i < listMatHang.Count(); i++)
                {
                    if (listMatHang[i].MaMatHang != maMatHang)
                    {
                        <option value="@listMatHang[i].MaMatHang">@listMatHang[i].MaMatHang - @listMatHang[i].TenHang</option>
                    }

                }

            </select>
            <br><br>

            <label for="lname">So Luong:</label><br>
            <input type="text" id="lname" name="soLuong" value="@matHang.soLuong"><br><br>
            <input type="submit" value="Them vào hóa đơn">
        </form>

    </div>
</body>
</html>


