@using QuanLiCuaHang.ENTITIES;
@using QuanLiCuaHang.BUSSINESS_SERVICE;
@{
    Layout = null;
    String maHoaDon = Request["maHoaDon"];
    HD_BANHANG HDBanHang = XL_HD_BANHANG.TimKiemHDBanHang_MaHD(maHoaDon);
    List<CHITIET_HDBH> listChiTietHoaDon = HDBanHang.listChitietHoaDon;
    if (Session["listMatHangUpdate"] != null)
    {
        listChiTietHoaDon = (List<CHITIET_HDBH>)Session["listMatHangUpdate"];
    }
    int tongSoLuong = XL_HD_BANHANG.TinhTongSoLuong(listChiTietHoaDon);
    HDBanHang.tongSoLuong = tongSoLuong;
    if (IsPost)
    {
        HDBanHang.maHoaDon = maHoaDon;
        HDBanHang.ngayTaoHoaDon = Request["ngayTao"];
        HDBanHang.listChitietHoaDon = listChiTietHoaDon;

        XL_HD_BANHANG.SuaHDBanHang(HDBanHang);
        Response.Redirect("~/UI/HOADON_BANHANG/MH_HD_BANHANG.cshtml");
    }

}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Danh Sach Mat Hang</title>
    <style>
        table {
            font-family: arial, sans-serif;
            border-collapse: collapse;
            width: 80%;
        }

        td, th {
            border: 1px solid #dddddd;
            text-align: left;
            padding: 8px;
        }

        tr:nth-child(even) {
            background-color: #dddddd;
        }

        .column {
            float: left;
            padding: 10px;
        }

            /* Left and right column */
            .column.side {
                width: 60%;
            }

            /* Middle column */
            .column.middle {
                width: 30%;
            }

        .row:after {
            content: "";
            display: table;
            clear: both;
        }
    </style>
</head>
<body>
    <div class="row">
        <div class="column side">
            <h2>Chi tiết hóa đơn bán hàng </h2>
            <table>
                <tr>
                    <th>Ma Mat Hang</th>
                    <th>Ten Hang</th>
                    <th>Han Dung</th>
                    <th>Cong Ty San Xuat</th>
                    <th>Nam San Xuat</th>
                    <th>Loai Hang</th>
                    <th>So luong</th>
                    <th> </th>
                </tr>

                @for (int i = 0; i < listChiTietHoaDon.Count(); i++)
                {
                    <tr>
                        <th>@listChiTietHoaDon[i].matHang.MaMatHang</th>
                        <th>@listChiTietHoaDon[i].matHang.TenHang</th>
                        <th>@listChiTietHoaDon[i].matHang.HanDung</th>
                        <th>@listChiTietHoaDon[i].matHang.CongTySanXuat</th>
                        <th>@listChiTietHoaDon[i].matHang.NamSanxuat</th>
                        <th>@listChiTietHoaDon[i].matHang.LoaiHang</th>
                        <th>@listChiTietHoaDon[i].soLuong</th>
                        <th>
                            <a href="~/UI/CHITIET_HDBH/MH_SUA_CHITIET_HDBH.cshtml?maMatHang=@listChiTietHoaDon[i].matHang.MaMatHang&maHD=@maHoaDon">Sua san pham</a><br>
                            <a href="~/UI/CHITIET_HDBH/MH_XOA_CHITIET_HDBH.cshtml?maMatHang=@listChiTietHoaDon[i].matHang.MaMatHang&maHD=@maHoaDon">Xoa san pham</a>
                        </th>
                    </tr>
                }
            </table>
            <a href="~/UI/CHITIET_HDBH/MH_THEM(SUA)_CHITIET_HDBH?maHD=@maHoaDon">Them san pham</a>
        </div>
        <div class="column middle">
            <form action="~/UI/HOADON_BANHANG/MH_SUA_HD_BANHANG.cshtml?maHoaDon=@maHoaDon" method="post">
                <br> <br> <br> <br>
                <label for="fname">Ngay tao hoa don:</label><br>
                <input type="text" id="fname" name="ngayTao" value="@HDBanHang.ngayTaoHoaDon"><br>
                <label for="lname"> Tong So Luong:</label>
                @HDBanHang.tongSoLuong
                <br>
                <input type="submit" value="Sua hoa don">
            </form>
        </div>
    </div>
</body>
</html>




