@using QuanLiCuaHang.ENTITIES;
@using QuanLiCuaHang.BUSSINESS_SERVICE;
@{
    Layout = null;
    List<LOAI_HANG> LoaiHang = XL_LOAI_HANG.DocLoaiHang();
    List<CHITIET_HD> listChiTietHoaDon = (List<CHITIET_HD>)Session["listMatHang"];
    HOADON HDBanHang;
    int tongSoLuong = XL_HD_BANHANG.TinhTongSoLuong(listChiTietHoaDon);
    if (IsPost)
    {
        HDBanHang.maHoaDon = string.Empty;
        HDBanHang.ngayTaoHoaDon = Request["ngayTao"];
        HDBanHang.tongSoLuong = tongSoLuong;
        HDBanHang.listChitietHoaDon = listChiTietHoaDon;

        XL_HD_BANHANG.ThemHDBanHang(HDBanHang);
        Session.Clear();
        Response.Redirect("~/UI/HOADON_BANHANG/MH_HD_BANHANG.cshtml");

    }

}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Danh Sach Mat Hang</title>
    <style>
        table {
            font-family: arial, sans-serif;
            border-collapse: collapse;
            width: 80%;
        }

        td, th {
            border: 1px solid #dddddd;
            text-align: left;
            padding: 8px;
        }

        tr:nth-child(even) {
            background-color: #dddddd;
        }

        .column {
              float: left;
              padding: 10px;
            }

            /* Left and right column */
            .column.side {
              width: 60%;
            }

            /* Middle column */
            .column.middle {
              width: 30%;
            }

            .row:after {
              content: "";
              display: table;
              clear: both;
            }
    </style>
</head>
<body>
    <div class="row">
        <div class="column side">
            <h2>Chi tiết hóa đơn bán hàng </h2>
            @if (listChiTietHoaDon == null)
            {
                <p style="color: red;">  Chưa có mat hang nao</p>
            }
            else
            {
                <table>
                    <tr>
                        <th>STT</th>
                        <th>Ma Mat Hang</th>
                        <th>Ten Hang</th>
                        <th>Han Dung</th>
                        <th>Cong Ty San Xuat</th>
                        <th>Nam San Xuat</th>
                        <th>Loai Hang</th>
                        <th>So luong</th>
                    </tr>

                    @for (int i = 0; i < listChiTietHoaDon.Count(); i++)
                    {
                        <tr>
                            <th>@(@i + 1)</th>
                            <th>@listChiTietHoaDon[i].matHang.MaMatHang</th>
                            <th>@listChiTietHoaDon[i].matHang.TenHang</th>
                            <th>@listChiTietHoaDon[i].matHang.HanDung</th>
                            <th>@listChiTietHoaDon[i].matHang.CongTySanXuat</th>
                            <th>@listChiTietHoaDon[i].matHang.NamSanxuat</th>
                            <th>@listChiTietHoaDon[i].matHang.LoaiHang</th>
                            <th>@listChiTietHoaDon[i].soLuong</th>
                        </tr>
                    }
                </table>
            }
            <a href="~/UI/CHITIET_HDBH/MH_THEM_CHITIET_HDBH.cshtml">Them san pham</a>
        </div>
        <div class="column middle">
            <form action="~/UI/HOADON_BANHANG/MH_THEM_HD_BANHANG.cshtml" method="post">
                <br> <br> <br> <br>
                <label for="fname">Ngay tao hoa don:</label><br>
                <input type="text" id="fname" name="ngayTao" placeholder="01/01/2021"><br>
                <label for="lname"> Tong So Luong:</label>
                @tongSoLuong
                <br>
                <input type="submit" value="Them hoa don">
            </form>
        </div>
    </div>
</body>
</html>




